<table class="table table-striped">
  <tr>
    <th> First name</th>
    <th> Phone number</th>
  </tr>
  <%@contacts.each do |contact| %>
  <tr><%if contact.all_john%>
    <td><%=contact.full_name%></td>
    <td><%=contact.phone%></td>
    <td><%=contact.human_friendly_time%></td>
    <%end%>
  </tr>
  <%end%>
</table>

